{% extends 'base.html' %}
{% block title %}
{{ title }}
{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-12 col-sm-8 col-md-6 col-lg-4">
        <div class="card text-center mt-5 mb-3">
            <div class="card-body mb-5">
                <h3 class="card-title mt-3 mb-3">Sign In</h3>
                <hr class="text-dark mb-5" >
                <div class="mb-3">
                    <a class="btn btn-lg btn-danger" href="{% url 'social:begin' 'google-oauth2' %}"><i
                            class="fa fa-google-plus me-2 fa-lg"></i>Sign in with Google</a>
                </div>
                <div>
                    <a class="btn btn-lg btn-dark" href="{% url 'social:begin' 'github' %}"><i
                            class="fa fa-github me-2 fa-lg" aria-hidden="true"></i>Sign in with Github</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}